<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Create New Product</h3>
      <div class="box-tools">

      </div>
    </div>
    <div class="pt-4">
      <div class="row">
        <form class="col-12 row">
          <div class="col-6">
            <div class="form-group row">
              <label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="ProductName" id="product-name" placeholder="Product Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="ProductDesscription" class="col-sm-4 col-form-label">Product Description</label>
              <div class="col-sm-8">
                <textarea class="form-control" name="ProductDesscription" placeholder="Product Description"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="Category" class="col-sm-4 col-form-label">Category</label>
              <div class="col-sm-8">
                <select class="form-control" name="Category">
                  <option value="">Men's Wear</option>
                  <option value="">Women's Wear</option>
                  <option value="">Kid's Wear</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="SubCategory" class="col-sm-4 col-form-label">Sub Category</label>
              <div class="col-sm-8">
                <select class="form-control" name="SubCategory">
                  <option value="">Shirt</option>
                  <option value="">Jeans</option>
                  <option value="">Inner Wear</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="Unit" class="col-sm-3 col-form-label">Unit Measurement</label>
              <div class="col-sm-3">
                <select class="form-control" name="Unit">
                  <option value="">Piece</option>
                  <option value="">Kilogram</option>
                  <option value="">Litre</option>
                  <option value="">Square Feet</option>
                  <option value="">Ton</option>
                </select>
              </div>
              <label for="GST" class="col-sm-3 col-form-label">GST Rate (%)</label>
              <div class="col-sm-3">
                <select class="form-control" name="GST">
                  <option value="">5</option>
                  <option value="">12</option>
                  <option value="">18</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="AccessCode" class="col-sm-3 col-form-label">Access Code</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="AccessCode" id="access-code" placeholder="Access Code">
              </div>
              <label for="TotalStock" class="col-sm-3 col-form-label">Total Stock</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="TotalStock" id="total-stock" placeholder="Total Stock">
              </div>
            </div>
            <div class="form-group row">
              <label for="PricePerQuantity" class="col-sm-3 col-form-label">Price Per Quantity</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="PricePerQuantity" id="price-per-quantity" placeholder="Price Per Quantity">
              </div>
              <label for="MaterialType" class="col-sm-3 col-form-label">Material Type</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="MaterialType" id="material-type" placeholder="Material Type">
              </div>
            </div>
            <div class="form-group row">
              <label for="ProductPhoto" class="col-sm-3 col-form-label">Product Photo</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" name="ProductPhoto" id="product-photo" placeholder="Product Photo">
              </div>
            </div>
          </div>
          <div class="form-group offset-sm-6">
            <div class="col-sm-3 ">
              <button type="button" name="Save" ng-click="saveProductDetails" class="btn btn-success mr-3">
                <i aria-label="true" class="fa fa-save"></i> Save
              </button>
            </div>
          </div>
        </div>
        </form>
      </div>

      <div class="row col-12">
        <div ng-include="'../app/product/template/product-list.html'"></div>
      </div>

      <div class="box-footer">
        <div class="pt-2">

        </div>
      </div>
    </div>
  </div>
</section>
