<table class="table table-hover">
  <thead>
    <th>Sl.No.</th>
    <th>Product Name</th>
    <th>Category</th>
    <th>Sub Category</th>
    <th>Unit</th>
    <th>Price/Unit</th>
    <th>GST(%)</th>
    <th>Stock</th>
    <th>Access Code</th>
    <th>Photo</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Lenin Shirt</td>
      <td>Men's Wear</td>
      <td>Shirt</td>
      <td>Piece</td>
      <td>400</td>
      <td>5</td>
      <td>250</td>
      <td>LS101</td>
      <td><img src="images/logo/logo_mini.png" width="50" height="50" class="img-rounded" /></td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lenin Shirt</td>
      <td>Men's Wear</td>
      <td>Shirt</td>
      <td>Piece</td>
      <td>400</td>
      <td>5</td>
      <td>250</td>
      <td>LS101</td>
      <td><img src="images/logo/logo_mini.png" width="50" height="50" class="img-rounded" /></td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lenin Shirt</td>
      <td>Men's Wear</td>
      <td>Shirt</td>
      <td>Piece</td>
      <td>400</td>
      <td>5</td>
      <td>250</td>
      <td>LS101</td>
      <td><img src="images/logo/logo_mini.png" width="50" height="50" class="img-rounded" /></td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Lenin Shirt</td>
      <td>Men's Wear</td>
      <td>Shirt</td>
      <td>Piece</td>
      <td>400</td>
      <td>5</td>
      <td>250</td>
      <td>LS101</td>
      <td><img src="images/logo/logo_mini.png" width="50" height="50" class="img-rounded" /></td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
  </tbody>
</table>
