<div class="">
  <div class="box-header with-border">
    <h3 class="box-title">Invoice Preview</h3>
    <div class="box-tools pt-3 ml-4">
      <span class="mr-2">
        <input type="radio" name="invoiceType" class="mr-2" ng-model="invoicePreview" value="modern"  aria-label="Radio button for following text input">Modern Invoice
      </span>
      <span class="mr-2">
        <input type="radio" name="invoiceType" class="mr-2" ng-model="invoicePreview" value="traditional" aria-label="Radio button for following text input">Traditional Invoice
      </span>
    </div>
  </div>

  <section id="modern-invoice" ng-if="invoicePreview=='modern'">
    <div ng-include="'../app/invoice/template/modern-invoice.html'"></div>
  </section>
  <section id="traditional-invoice" ng-if="traditionalInvoice">
    <div ng-include="'../app/invoice/template/traditional-invoice.html'"></div>
  </section>
</div>
