<div class="row">
  <div class="col-lg-12">
      <div class="card px-2">
          <div class="card-body">
              <div class="container-fluid">
                <h3 class="text-right my-2">Invoice&nbsp;&nbsp;#INV-17</h3>
                <hr>
              </div>
              <div class="container-fluid d-flex justify-content-between">
                <div class="col-lg-3 pl-0">
                  <p class="mt-2 mb-2"><b>Sri Balaji Textiles &amp; Retails</b></p>
                  <p>104,<br>Barkur,<br>Krishnagiri, 600108.</p>
                </div>
                <div class="col-lg-3 pr-0">
                  <p class="mt-2 mb-2 text-right"><b>Invoice to</b></p>
                  <p class="text-right">Chennai silks,<br> 201, T-Nagar,<br> Chennai, 600022.</p>
                </div>
              </div>
              <div class="container-fluid d-flex justify-content-between">
                <div class="col-lg-3 pl-0">
                  <p class="mb-0 mt-2">Invoice Date : 23rd Apr 2018</p>
                  <p>Due Date : 25th May 2018</p>
                </div>
              </div>
              <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                <div class="table-responsive w-100">
                    <table class="table">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Price/Unit(&#8377;)</th>
                            <th class="text-right">CGST(%)</th>
                            <th class="text-right">SGST(%)</th>
                            <th class="text-right">Total(&#8377;)</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="text-right">
                          <td class="text-left">1</td>
                          <td class="text-left">Men's Inner</td>
                          <td>2</td>
                          <td>200</td>
                          <td>6</td>
                          <td>6</td>
                          <td>400</td>
                        </tr>
                        <tr class="text-right">
                          <td class="text-left">2</td>
                          <td class="text-left">Men's Shirt</td>
                          <td>5</td>
                          <td>400</td>
                          <td>2.5</td>
                          <td>2.5</td>
                          <td>2000</td>
                        </tr>
                        <tr class="text-right">
                          <td class="text-left">3</td>
                          <td class="text-left">Women's Jeans</td>
                          <td>8</td>
                          <td>400</td>
                          <td>9</td>
                          <td>9</td>
                          <td>3200</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="container-fluid mt-5 w-100">
                <p class="text-right mb-2">Sub - Total amount: &#8377; 5,600</p>
                <p class="text-right">GST (12%) : &#8377; 48</p>
                <p class="text-right">GST (5%) : &#8377; 100</p>
                <p class="text-right">GST (18%) : &#8377; 576</p>
                <h4 class="text-right mb-2">Total : &#8377; 6,324</h4>
                <hr>
              </div>
          </div>
      </div>
  </div>
</div>
