<table class="table table-hover">
  <thead>
    <th>Sl.No.</th>
    <th>Sub Category Name</th>
    <th>Category Name</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Inner Wear</td>
      <td>Men's Wear</td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Shirt</td>
      <td>Men's Wear</td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Jeans</td>
      <td>Men's Wear</td>
      <td>
        <a href="#"><i class="fa fa-edit">&nbsp;</i></a>
        <a href="#"><i class="fa fa-trash">&nbsp;</i></a>
      </td>
    </tr>
  </tbody>
</table>
