<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card dashboard-table-advanced">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="d-flex align-items-center justify-content-center border-bottom-0">
                ID
              </th>
              <th>Customer</th>
              <th>Invoice No.</th>
              <th>Date Created</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-2 d-flex align-items-center justify-content-center border-bottom-0">
                1
              </td>
              <td class="p-2">
                <div class="d-flex align-items-center">Jacob</div>
              </td>
              <td class="p-2">53275531</td>
              <td class="p-2">12 May 2017</td>
              <td class="p-2">
                9000
              </td>
            </tr>
            <tr>
              <td class="p-2 d-flex align-items-center justify-content-center border-bottom-0">
                2
              </td>
              <td class="p-2">
                <div class="d-flex align-items-center">Jacob</div>
              </td>
              <td class="p-2">53275531</td>
              <td class="p-2">12 May 2017</td>
              <td class="p-2">
                {{12000*2}}
              </td>
            </tr>
            <tr>
              <td class="p-2 d-flex align-items-center justify-content-center border-bottom-0">
                3
              </td>
              <td class="p-2">
                <div class="d-flex align-items-center">Jacob</div>
              </td>
              <td class="p-2">53275531</td>
              <td class="p-2">12 May 2017</td>
              <td class="p-2">
                7000
              </td>
            </tr>
            <tr>
              <td class="p-2 d-flex align-items-center justify-content-center border-bottom-0">
                4
              </td>
              <td class="p-2">
                <div class="d-flex align-items-center">Jacob</div>
              </td>
              <td class="p-2">53275531</td>
              <td class="p-2">12 May 2017</td>
              <td class="p-2">
              18000
              </td>
            </tr>
            <tr>
              <td class="p-2 d-flex align-items-center justify-content-center border-bottom-0">
                5
              </td>
              <td class="p-2">
                <div class="d-flex align-items-center">Jacob</div>
              </td>
              <td class="p-2">53275531</td>
              <td class="p-2">12 May 2017</td>
              <td class="p-2">
                4800
              </td>
            </tr>
            <tr>
              <td class="p-2 d-flex align-items-center justify-content-center border-bottom-0">
                6
              </td>
              <td class="p-2">
                <div class="d-flex align-items-center">Jacob</div>
              </td>
              <td class="p-2">53275531</td>
              <td class="p-2">12 May 2017</td>
              <td class="p-2">
                3500
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
